.footerino {
    background-color: #4E5D6C !important;
    overflow:hidden;    
    padding-bottom: 0px;
    margin-top: 22px;
}

.ppp {
    font-size: 15px !important;
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
}